*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:monospace;
    background:black;
    color:#fff;
}

div{
    text-align:center;
}
div h1{
    font-size:3rem;
}

div button{
    color:#000;
    background:#fff;
    width:100px;
    height:40px;
    margin-top:1rem;
    font-size:18px;
    letter-spacing:.4rem;
    outline:none;
    border:none;
    border-radius:15px;
    text-align:center;
    
}

div button:hover{
    cursor:pointer;
}